/* Íconos Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Reset CSS */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
  font-family: 'Poppins', sans-serif;
}

/* Header */
header{
  background-color: #302f4e;
}

/* Carrito y lupa */
.carrito, .lupa{
  font-size: 1.5rem;
}

.contenidoCarrito{
  display: flex;
  flex-direction: column;
}

/* Aside */
.lateral{
  width: 100%;
}


/* Footer */
footer{
  background-color: #302f4e;
}

.imgFooter{
  height: 70px;
}

.txFooter{
  color: #ee8968
}

.logoRedes{
  height: 60px;
}

/* Celulares */
.imgCelular{
  width: 250px;
}