/* Íconos Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

/* Reset CSS */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3{
  font-family: 'Poppins', sans-serif;
}

/* Header */
header{
  background-color: #302f4e;
}

/* Carrito y lupa */
.carrito{
  font-size: 1.5rem;
}

.lupa{
  font-size: 1rem;
}

.contenidoCarrito{
  display: flex;
  flex-direction: column;
}

/* Footer */
footer{
  background-color: #302f4e;
}

.imgFooter{
  height: 70px;
}

.txFooter{
  color: #ee8968
}

.logoRedes{
  height: 60px;
}

/* Celulares */
.tarjetaCelular{
  width: 18vw;
}

.imgCelular{
  width: 15vw;
}

/* Menú lateral */

/* Quito las flechas de el input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.btnReestablecerFiltros{
  border: 0;
  background-color: transparent;
}


/* Mediaqueries para monitores grandes */
@media screen and (min-width: 1770px) and (max-width: 2000px){
  .container-fhd{
    max-width: 1500px;
  }
}

/* Mediaqueries para monitores menores a xxl (entre lg y xl inclusive)*/
@media screen and (min-width: 993px) and (max-width: 1399px){
  /* Celulares */
  .tarjetaCelular{
    width: 20vw;
  }

  .imgCelular{
    width: 17vw;
  }
}


/* Mediaquieries para tablets (entre sm y md inclusive) */
@media screen and (min-width: 576px) and (max-width: 992px){
  /* Celulares */
  .tarjetaCelular{
    width: 47vw;
  }

  .imgCelular{
    width: 40vw;
  }
}


/* Mediaqueries para celulares (menor a sm)*/
@media screen and (min-width: 320px) and (max-width: 575px){
  /* Celulares */
  .tarjetaCelular{
    width: 95vw;
  }

  .imgCelular{
    width: 70vw;
  }
}


